@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> Loc
<style scoped>
    /* small hack for apply css-styles inside Resources files (MarkupString)*/
    .colored-text  {
        color: #ff8714;
        font-weight: bold;
    }

    .blue-text{
        color: #0fa7fa;
        font-weight: bold;
    }

    .red-text  {
        color: red;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }
</style>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <section class="not-found presentation-first">
                <div>
                    @Loc[SharedRes.PageNotFound]
                </div>
            </section>
        </LayoutView>
    </NotFound>
</Router>