@using NavLoc = Localizations.Shared.NavMenu;
@inject IStringLocalizer<Localizations.Shared.NavMenu> Loc

<button id="menu-toggle" class="menu-toggle @NavMenuButtonCssClass" @onclick="ToggleNavMenu">
    <span></span><span></span><span></span>
</button>

<nav id="menu" class="@NavMenuCssClass">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Index]
    </NavLink>
    <a class="nav-link no-link-menu-item">
        @Loc[NavLoc.Projects]
            <ul class="submenu" style="display: none;">
                <li>
                    <NavLink class="nav-link belarus" href="/itbeard" @onclick='() => CloseMenu()'>
                        @Loc[NavLoc.Menu_ItbeardShow]
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link belarus" href="/ciomnylos" @onclick='() => CloseMenu()'>
                        @Loc[NavLoc.Menu_CiomnyLosShow]
                    </NavLink>
                </li>
                <li>
                    <a class="nav-link belarus" href="https://www.patreon.com/collection/30373" target="_blank" @onclick='() => CloseMenu()'>
                        @Loc[NavLoc.Menu_BeardNews]
                    </a>
                </li>
                <li>
                    <NavLink class="nav-link belarus" href="/aia" @onclick='() => CloseMenu()'>
                        @Loc[NavLoc.Menu_Aia]
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link belarus" href="/vkl" @onclick='() => CloseMenu()'>
                        @Loc[NavLoc.Menu_VklWorld]
                    </NavLink>
                </li>
                <li>
                    <a class="nav-link belarus" href="https://t.me/belarusai" target="_blank" @onclick='() => CloseMenu()'>
                        @Loc[NavLoc.Menu_BelarusAi]
                    </a>
                </li>
            </ul>
    </a>
    <NavLink class="nav-link" href="support" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Support]
    </NavLink>
    <NavLink class="nav-link" href="contacts" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Contacts]
    </NavLink>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuButtonCssClass => collapseNavMenu ? null: "active";
    private string NavMenuCssClass => collapseNavMenu ? null: "opened";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseMenu()
    {
        collapseNavMenu = true;
    }
}
