@using NavLoc = Localizations.Shared.NavMenu;
@inject IStringLocalizer<Localizations.Shared.NavMenu> Loc

<button id="menu-toggle" class="menu-toggle @NavMenuButtonCssClass" @onclick="ToggleNavMenu">
    <span></span><span></span><span></span>
</button>

<nav id="menu" class="@NavMenuCssClass">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Index]
    </NavLink>
    <a class="nav-link no-link-menu-item">
        <NavLinkPreventDefault href="/projects" Match="NavLinkMatch.Prefix">
            @Loc[NavLoc.Projects]
        </NavLinkPreventDefault>
        <ul class="submenu" style="display: none;">
            <li>
                <NavLink class="nav-link belarus" href="/projects/itbeard" @onclick='() => CloseMenu()'>
                    @Loc[NavLoc.Menu_ItbeardShow]
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link belarus" href="/projects/evocoders" @onclick='() => CloseMenu()'>
                    @Loc[NavLoc.Menu_EvoCode]
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link belarus" href="/projects/aia" @onclick='() => CloseMenu()'>
                    @Loc[NavLoc.Menu_Aia]
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link belarus" href="/projects/ciomnylos" @onclick='() => CloseMenu()'>
                    @Loc[NavLoc.Menu_CiomnyLosShow]
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link belarus" href="/projects/beard-news" @onclick='() => CloseMenu()'>
                    @Loc[NavLoc.Menu_BeardNews]
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link belarus" href="/projects/vkl" @onclick='() => CloseMenu()'>
                    @Loc[NavLoc.Menu_VklWorld]
                </NavLink>
            </li>
            <li>
                <a class="nav-link belarus" href="https://t.me/belarusai" target="_blank" @onclick='() => CloseMenu()'>
                    @Loc[NavLoc.Menu_BelarusAi]
                </a>
            </li>
        </ul>
    </a>
    <NavLink class="nav-link" href="support" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Support]
    </NavLink>
    <NavLink class="nav-link" href="contacts" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Contacts]
    </NavLink>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuButtonCssClass => collapseNavMenu ? null: "active";
    private string NavMenuCssClass => collapseNavMenu ? null: "opened";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseMenu()
    {
        collapseNavMenu = true;
    }
}
