@using NavLoc = Localizations.Shared.NavMenu;
@inject IStringLocalizer<Localizations.Shared.NavMenu> Loc

<NavLink class="@Loc[NavLoc.LogoClass]" href="">
    <img src="/images/logo.jpg" alt="">
    @Loc[NavLoc.ITBeard]
</NavLink>

<button id="menu-toggle" class="menu-toggle @NavMenuButtonCssClass" @onclick="ToggleNavMenu">
    <span></span><span></span><span></span>
</button>

<nav id="menu" class="@NavMenuCssClass">
    <NavLink class="nav-link" href="support" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Support]
    </NavLink>
    <NavLink class="nav-link" href="partnership" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Partnership]
    </NavLink>
    <NavLink class="nav-link" href="https://www.youtube.com/darkdestiny" target="_blank" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.DarkDestiny]
    </NavLink>
    <NavLink class="nav-link" href="contacts" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Contacts]
    </NavLink>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuButtonCssClass => collapseNavMenu ? null: "active";
    private string NavMenuCssClass => collapseNavMenu ? null: "opened";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    private void CloseMenu()
    {
        collapseNavMenu = true;
    }
}
