@using NavLoc = Localizations.Shared.NavMenu;
@inject IStringLocalizer<Localizations.Shared.NavMenu> Loc

<button id="menu-toggle" class="menu-toggle @NavMenuButtonCssClass" @onclick="ToggleNavMenu">
    <span></span><span></span><span></span>
</button>

<nav id="menu" class="@NavMenuCssClass">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Index]
    </NavLink>
    <NavLink class="nav-link" href="show" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.ItbeardShow]
    </NavLink>
    <NavLink class="nav-link" href="https://ciomnylos.itbeard.com" target="_blank" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.CiomnyLosShow]
    </NavLink>
    <NavLink class="nav-link" href="https://vkl.world" target="_blank" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.VklWorld]
    </NavLink>
    <NavLink class="nav-link" href="support" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Support]
    </NavLink>
    <NavLink class="nav-link" href="contacts" @onclick='() => CloseMenu()'>
        @Loc[NavLoc.Contacts]
    </NavLink>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuButtonCssClass => collapseNavMenu ? null: "active";
    private string NavMenuCssClass => collapseNavMenu ? null: "opened";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseMenu()
    {
        collapseNavMenu = true;
    }
}
