@page "/ciomnylos"
@using ItbeardShowRes = Localizations.Pages.ItbeardShow;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc
@inject IStringLocalizer<ItbeardShowRes> Loc

<Title>Цёмны Лёс - чым займаюцца беларусы</Title>
<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>Пра падкаст</h1>
            <p>
                <b>«Цёмны Лёс»</b> - гэта гутарковы падкаст па-беларуску, у якім беларусы распавядаюць аб сваіх занятках ды разважаюць наконт беларускасці.
                Кожны эпізод новая прафесыя ці занятак: ад навукоўцаў і праграммістаў да музык, комікаў і аматараў Толкіна!
            </p>
            <p>
                Падкаст выходзіць раз на два тыдні ў YouTube і на ўсіх падкас-пляцоўках.
                Заяўку на удзел у падкасце можна пакінуць
                <a class="colored-text" href="https://forms.gle/2s9o2i4t6x4upS1GA" target="_blank">тут</a> 😊
            </p>
        </section>
    </section>

    <section id="links" class="presentation no-bg">
        <section class="content left">
            <h1>
                Где глядзець і слухаць?
            </h1>
            <p>
                Падкаст <b>«Цёмны Лёс»</b> ёсць амаль на ўсіх аудыё-падкаст-пляцоўках і на YouTube.
                Акрамя таго, у падкаста ёсць свой Telegram і TikTok. Усе спасылкі пералічаны ніжэй:
                <ul>
                    <li>
                        @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_2].Value)
                        <a href="https://www.youtube.com/@@ciomnylos" target="_blank" class="youtube">
                            YouTube
                        </a>
                    </li>
                    <li>
                        @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_7].Value)
                        <a href="https://bit.ly/ciomnylos-google" target="_blank" class="colored-text">
                            Google Podcasts
                        </a>
                    </li>
                    <li>
                        @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_8].Value)
                        <a href="https://apple.co/3ZqIeYJ" target="_blank" class="colored-text">
                            Apple Podcasts
                        </a>
                    </li>
                    <li>
                        @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_6].Value)
                        <a href="https://spoti.fi/3mc5Thl" target="_blank" class="colored-text">
                            Spotify
                        </a>
                    </li>
                    <li>
                        <a href="https://ciomnylos.itbeard.com" target="_blank" class="site">
                            Спампаваць .MP3 ды RSS Feed
                        </a>
                    </li>
                    <li>
                        @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_3].Value)
                        <a href="https://t.me/ciomnylos" target="_blank" class="telegram">
                            Telegram
                        </a>
                    </li>
                    <li>
                        @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_4].Value)
                        <a href="https://www.tiktok.com/@@ciomnylos" target="_blank" class="tiktok">
                            TikTok
                        </a>
                    </li>
                </ul>
            </p>
        </section>
    </section>

    <section id="support" class="slides presentation-slides no-bg">
        <h1>
            Падтрымай падкаст!
        </h1>
        <section class="content">
            <a href="https://www.patreon.com" target="_blank" class="article discord">
                <h1>
                    Patreon
                </h1>
                <p>
                    Падтрымаць падкаст можна падпіскай на <b>Patreon</b>.
                </p>
                <p>
                    Патроны падкасту атрымліваюць доступ да майго прыватнага Discord-серверу
                    і да спонсарскага расейскамоўнага падкасту <b>«Навіны Барады»</b>.
                </p>
                <img src="/images/patreon.jpg">
            </a>

            <a href="/support#card" class="article">
                <img src="/images/cards.png">
                <h1>
                    Revolute ды PayPal
                </h1>
                <p>
                    Таксама, можна адзінаразова падтрымаць «Цёмны Лёс» праз грашовыя пералікі з карткі праз Revolute ды PayPal,
                    ці прамым пералікам на PayPal.
                </p>
                <p>
                    Падрабязная інфармація ёсць на старонцы Revolute <b>«Падтрымаць»</b>.
                </p>
            </a>

            <a href="/support#crypto" class="article more">
                <h1>Крыптагрошы</h1>
                <p>
                    Падтрымаць падкаст можна і праз шэраг крыптавалют ды токенаў: <b>BTC</b>, <b>ETH</b>, <b>USDT</b> і іншыя.
                </p>
                <p>
                    Больш падрабязная інфармацыя аб усіх крыптарахунках ёсць на старонцы <b>«Падтрымаць»</b>.
                </p>
                <img src="/images/crypto.png">
            </a>
        </section>
    </section>

    <section id="merch" class="presentation no-bg">
            <section class="content left">
                <h1>
                    Фірмовы мерч
                </h1>
                <p>
                    А яшчэ я раблю круты мерч, у якім часта з'яўляюся ў выпусках падкасту.
                    Набыць яго ты можаш ў
                    <a href="https://streamlabs.com/itbeard/merch" target="_blank" class="colored-text">маёй краме</a>
                    : байкі, майкі, шапкі, кубкі і стыкеры!
                </p>
                <p>
                    Кожнай пакупкай ты падтрымаеш мяне прыкладна на <b>$5</b>, вялікі дзякуй! 😊
                </p>
            </section>
        </section>
</main>