@page "/contacts"
@using ContactsRes = Localizations.Pages.Contacts;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<ContactsRes> Loc
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>@Loc[ContactsRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>

<main class="wide-container">
    <section id="contacts" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>
                @Loc[ContactsRes.Ccontacts]
            </h1>
            <p class="links email">
                <span>@Loc[ContactsRes.Ccontacts_Email]</span> /
                <a href="mailto:iamitbeard@gmail.com" target="_blank">iamitbeard@gmail.com</a>
            </p>
            <p class="links mastodon">
                <span>@Loc[ContactsRes.Ccontacts_Mastodon]</span> /
                <a href="https://vkl.world/@@itbeard" target="_blank">vkl.world/@@itbeard</a>
            </p>
            <p class="links telegram">
                <span>@Loc[ContactsRes.Ccontacts_Telegram]</span> /
                <a href="https://t.me/iamitbeard" target="_blank">t.me/iamitbeard</a>
            </p>

            <p class="links twitter">
                <span>@Loc[ContactsRes.Ccontacts_Twitter]</span> /
                <a href="https://x.com/iamitbeard" target="_blank">x.com/iamitbeard</a>
            </p>

            <p class="links discord">
                <span>@Loc[ContactsRes.Ccontacts_Discord]</span> /
                <a href="https://discord.com/users/itbeard" target="_blank">itbeard</a>
            </p>
        </section>
    </section>

    <section id="socials" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>@Loc[ContactsRes.Other]</h1>
            <p class="links">
                <span>@Loc[ContactsRes.Other_GitHub]</span> /
                <a href="https://github.com/itbeard" target="_blank">github.com/itbeard</a>
            </p>
            <p class="links linkedin">
                <span>@Loc[ContactsRes.Other_LinkedIn]</span> /
                <a href="https://www.linkedin.com/in/akartynnik" target="_blank">linkedin.com/in/akartynnik</a>
            </p>
            <p class="links blog-fediverse">
                <span>@Loc[ContactsRes.Other_BlogFediverse]</span> /
                <a href="https://letapis.vkl.world/itbeard" target="_blank">letapis.vkl.world/itbeard</a>
            </p>
            <p class="links blog-telegram">
                <span>@Loc[ContactsRes.Other_BlogTelegram]</span> /
                <a href="https://t.me/itbeard" target="_blank">t.me/itbeard</a>
            </p>
            <p class="links blog-whatsapp">
                <span>@Loc[ContactsRes.Other_BlogWhatsapp]</span> /
                <a href="https://www.whatsapp.com/channel/0029VaAd7wk3QxRrnV3byo34" target="_blank">АйТиБорода</a>
            </p>
            <p class="links patreon">
                <span>@Loc[ContactsRes.Other_Patreon]</span> /
                <a href="https://www.patreon.com/itbeard" target="_blank">patreon.com/itbeard</a>
            </p>
            <p class="links merch">
                <span>@Loc[ContactsRes.Other_Merch]</span> /
                <a href="https://streamlabs.com/itbeard/merch" target="_blank">streamlabs.com/itbeard/merch</a>
            </p>
        </section>
    </section>
</main>
