@page "/"
@using IndexRes = Localizations.Pages.Index;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc
@inject IStringLocalizer<IndexRes> Loc

<Title>@Loc[IndexRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>
<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>
                @Loc[IndexRes.About]
            </h1>
            <p>
                @((MarkupString)Loc[IndexRes.About_Paragraph_1].Value)
            </p>
            <p>
                @Loc[IndexRes.About_Paragraph_2]
            </p>
            <p>
                @((MarkupString)Loc[IndexRes.About_Paragraph_3].Value)
            </p>
            <p>
                @Loc[IndexRes.About_Paragraph_4]
            </p>
        </section>
    </section>

    <section class="slides">
        <h1>@Loc[IndexRes.Interesting]</h1>
        <section class="content">
            <a href="https://streamlabs.com/itbeard/merch" target="_blank" class="article">
                <h1>
                    @Loc[IndexRes.Interesting_Merch]
                </h1>
                <p>
                    @Loc[IndexRes.Interesting_Merch_Paragraph_1]
                </p>
                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_Merch_Paragraph_2].Value)
                </p>
                <img class="merch" src="/images/merch.jpg">
            </a>

            <a href="https://www.patreon.com/itbeard" target="_blank" class="article">
                <img src="/images/patreon.jpg">
                <h1>
                    @Loc[IndexRes.Interesting_Support]
                </h1>
                <p>
                    @Loc[IndexRes.Interesting_Support_Paragraph_1]
                </p>

                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_Support_Paragraph_2].Value)
                </p>
            </a>

            <a href="https://www.patreon.com/itbeard?filters[tag]=%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8%20%D0%91%D0%BE%D1%80%D0%BE%D0%B4%D1%8B" target="_blank" class="article">
                <h1>
                    @((MarkupString) Loc[IndexRes.Interesting_News].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_News_Paragraph_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_News_Paragraph_2].Value)
                </p>
                <img src="/images/solocast.jpg">
            </a>

            <a href="https://github.com/itbeard" target="_blank"  class="article">
                <h1>
                    @((MarkupString) Loc[IndexRes.Interesting_GitHub].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_GitHub_Paragraph_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_GitHub_Paragraph_2].Value)
                </p>
                <img src="/images/github.jpg">
            </a>

            <div href="" target="_blank" class="article">
                <img src="/images/content-creator.jpg">
                <h1>
                    @((MarkupString) Loc[IndexRes.Interesting_Where].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_Where_Paragrahp_1].Value)
                    <ul>
                        <li>
                            @Loc[IndexRes.Interesting_Where_Paragrahp_21] <a href="/show" class="colored-text">@Loc[IndexRes.Interesting_Where_Paragrahp_22]</a>
                        </li>
                        <li>
                            @Loc[IndexRes.Interesting_Where_Paragrahp_31] <a href="/ciomnylos" class="colored-text">@Loc[IndexRes.Interesting_Where_Paragrahp_32]</a>
                        </li>
                        <li>
                            @Loc[IndexRes.Interesting_Where_Paragrahp_41] <a href="/vkl" class="colored-text">@Loc[IndexRes.Interesting_Where_Paragrahp_42]</a>
                        </li>
                    </ul>
                </p>
            </div>

            <a href="https://www.linkedin.com/in/akartynnik/" target="_blank" class="article">
                <h1>
                    @((MarkupString)Loc[IndexRes.Interesting_LinkedIn].Value)
                </h1>
                <p>
                   @((MarkupString)Loc[IndexRes.Interesting_LinkedIn_Paragrarh_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[IndexRes.Interesting_LinkedIn_Paragrarh_2].Value)
                </p>
                <img src="/images/linkedin.jpg">
            </a>
        </section>
    </section>
</main>