@page "/"
@using IndexLoc = Localizations.Pages.Index;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc
@inject IStringLocalizer<IndexLoc> Loc

<Title>@Loc[IndexLoc.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>
<main id="landing">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>@Loc[IndexLoc.About]</h1>
            <p>
                @((MarkupString)Loc[IndexLoc.About_Paragraph_1].Value)
            </p>
            <p>
                @Loc[IndexLoc.About_Paragraph_2]
            </p>
            <p>
                @((MarkupString)Loc[IndexLoc.About_Paragraph_3].Value)
            </p>
            <p>
                @Loc[IndexLoc.About_Paragraph_4]
            </p>
        </section>
    </section>

    <section class="slides">
        <h1>Интересненькое</h1>
        <section class="content">
            <a href="https://streamlabs.com/itbeard/merch" target="_blank" class="article">
                <h1>Мерч</h1>
                <p>
                    В жизни и в видосах я появляюсь в необычных толстовках, майках и т.д.
                    Купить такие же можно в моём магазинчике.
                </p>
                <p>
                    Каждой покупки ты поддержишь меня на <b>$5</b>! 😊
                </p>
                <img class="merch" src="/images/merch.jpg">
            </a>

            <a href="https://www.patreon.com/itbeard" target="_blank" class="article">
                <img src="/images/patreon.jpg">
                <h1>Поддержи меня</h1>
                <p>
                    Поддержка на Patreon - один из способов поддержать мои начинания.
                    Будучи патроном ты получишь доступ к куче ништяков!
                </p>

                <p>
                    Кстати, все способы поддержать меня ты надешь на странице <i>"Поддержать"</i>.
                </p>
            </a>

            <a href="https://www.patreon.com/itbeard?filters[tag]=%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8%20%D0%91%D0%BE%D1%80%D0%BE%D0%B4%D1%8B" target="_blank" class="article">
                <h1>Новости Бороды</h1>
                <p>
                    Для тех кто меня поддерживает ежемесячно я записываю солокаст <b class="colored-text">«Новости Бороды»</b>.
                    В этом подкасте я рассказываю про IT-сплетни, про события из жизни, про новый и старый контент и про свои планы.
                </p>
                <p>
                    Солокаст доступен спонсорам АйТиБороды и всем Патронам на Patreon.
                </p>
                <img src="/images/solocast.jpg">
            </a>

            <a href="https://github.com/itbeard" target="_blank"  class="article">
                <h1>GitHub</h1>
                <p>
                    Занимаясь разработкой с 2011 года, у меня появилось несколько небольших opensource  проектов.
                </p>
                <p>
                    Посмотреть на них можно в моём GitHub. А может даже и закоммитать что-нибудь. 😉
                </p>
                <img src="/images/github.jpg">
            </a>

            <div href="" target="_blank" class="article">
                <img src="/images/content-creator.jpg">
                <h1>Где ты меня видел?</h1>
                <p>
                    В свободное от работы время я тружусь в основном над тремя публичными проектами:
                    <ul>
                        <li>
                            Шоу <a href="/show" class="colored-text">«АйТиБорода»</a>
                        </li>
                        <li>
                            Подкаст <a href="/ciomnylos" class="colored-text">«Цёмный Лёс»</a>
                        </li>
                        <li>
                            Mastodon-сервер <a href="/vkl" class="colored-text">«VKL»</a>
                        </li>
                    </ul>
                </p>
            </div>

            <a href="https://www.linkedin.com/in/akartynnik/" target="_blank" class="article">
                <h1>LinkedIn</h1>
                <p>
                    В LinkedIn подробно описан мой профессиональный опыт и лежит старое CV.
                </p>
                <p>
                    Тамже можно посмотреть, на каком корабле и над чем я сейчас работаю.
                </p>
                <img src="/images/linkedin.jpg">
            </a>
        </section>
    </section>
</main>