@page "/"
@using IndexLoc = Localizations.Pages.Index;
@inject IStringLocalizer<IndexLoc> Loc

<Title>@Loc[IndexLoc.Title]</Title>
<main id="landing">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>@Loc[IndexLoc.AboutShow]</h1>
            <p>
                @((MarkupString)Loc[IndexLoc.AboutShow_Paragraph_1].Value)
            </p>
            <p>
                @((MarkupString)Loc[IndexLoc.AboutShow_Paragraph_2].Value)
            </p>
            <p>
                @((MarkupString)Loc[IndexLoc.AboutShow_Paragraph_3].Value)
            </p>
        </section>
    </section>

    <section id="interview" class="presentation">
        <section class="content center">
            <h1>@Loc[IndexLoc.Interview]</h1>
            <p>
                @((MarkupString)Loc[IndexLoc.Interview_Paragraph_1].Value)
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986l19y0i0dMoPSQxb2wnsdE" target="_blank" class="btn-bottom">
                @((MarkupString)Loc[IndexLoc.Interview_Paragraph_1_Button].Value)
            </a>
        </section>
    </section>

    <section id="know" class="presentation">
        <section class="content left">
            <h1>@Loc[IndexLoc.Profession]</h1>
            <p>
                @((MarkupString)Loc[IndexLoc.Profession_Paragraph_1].Value)
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu987VRKxIuCQLevB_vUA2dB2I" target="_blank" class="btn-bottom">
                @((MarkupString)Loc[IndexLoc.Profession_Paragraph_1_Button].Value)
            </a>
        </section>
    </section>

    <section id="streams" class="presentation">
        <section class="content right">
            <h1>@Loc[IndexLoc.Programming]</h1>
            <p>
                @((MarkupString)Loc[IndexLoc.Programming_Paragraph_1].Value)
            </p>
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu984Jnm_YhDcD_Hs5WEB39HoR" target="_blank" class="btn-bottom">
                @((MarkupString)Loc[IndexLoc.Programming_Paragraph_1_Button].Value)
            </a>
        </section>
    </section>

    <section id="other">
        <h1>@Loc[IndexLoc.ExtraGoodies]</h1>
        <section class="content">
            <a href="https://twitter.com/iamitbeard" target="_blank" class="article streams">
                <h1>@Loc[IndexLoc.ExtraGoodies_Twitter_Title]</h1>
                <p>
                    @((MarkupString)Loc[IndexLoc.ExtraGoodies_Twitter_Content].Value)
                </p>
                <img src="/images/twitter.jpg">
            </a>
            
            <a href="https://t.me/itbeard" target="_blank" class="article stickers">
                <img src="/images/telegram.jpg">
                <h1>@Loc[IndexLoc.ExtraGoodies_Telegram_Title]</h1>
                <p>
                    @((MarkupString)Loc[IndexLoc.ExtraGoodies_Telegram_Content].Value)
                </p>
            </a>

            <a href="https://instagram.com/itbeard" target="_blank" class="article streams">
                <h1>@Loc[IndexLoc.ExtraGoodies_Instagram_Title]</h1>
                <p>
                    @((MarkupString)Loc[IndexLoc.ExtraGoodies_Instagram_Content].Value)
                </p>
                <img src="/images/instagram.jpg">
            </a>

            <a href="/sponsorship" class="article streams">
                <h1>@Loc[IndexLoc.ExtraGoodies_Sponsorship_Title]</h1>
                <p>
                    @((MarkupString)Loc[IndexLoc.ExtraGoodies_Sponsorship_Content].Value)
                </p>
                <img src="/images/sponsorship.jpg">
            </a>

            <a href="https://www.patreon.com/itbeard" target="_blank" class="article streams">
                <img src="/images/patreon.jpg">
                <h1>@Loc[IndexLoc.ExtraGoodies_Patreon_Title]</h1>
                <p>
                    @((MarkupString)Loc[IndexLoc.ExtraGoodies_Patreon_Content].Value)
                </p>
            </a>
            
            <a href="https://s.itbeard.com/sponsors-discord" target="_blank" class="article streams discord">
                <h1>@Loc[IndexLoc.ExtraGoodies_Discord_Title]</h1>
                <p>
                    @((MarkupString)Loc[IndexLoc.ExtraGoodies_Discord_Content].Value)
                </p>
                <img src="/images/discord.jpg">
            </a>
        </section>
    </section>
</main>