@page "/"
@using IndexRes = Localizations.Pages.Index;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc
@inject IStringLocalizer<IndexRes> Loc

<Title>@Loc[IndexRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>
<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>
                @Loc[IndexRes.About]
            </h1>
            <p>
                @((MarkupString)Loc[IndexRes.About_Paragraph_1].Value)
            </p>
            <p>
            @((MarkupString)@Loc[IndexRes.About_Paragraph_2].Value)
              </p>
            <p>
                @((MarkupString)Loc[IndexRes.About_Paragraph_3].Value)
            </p>
            <p>
                @Loc[IndexRes.About_Paragraph_4]
            </p>
        </section>
    </section>

    <section class="slides">
        <h1>@Loc[IndexRes.Projects]</h1>
        <section class="content">


            <a href="https://youtube.com/@@kalasyai" target="_blank" class="article">
                <h1>
                    @((MarkupString) Loc[IndexRes.Projects_KalasyAI].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Projects_KalasyAI_Description].Value)
                </p>
                <img class="kalasyai-logo" src="/images/kalasyai.jpg">
            </a>

            <a href="https://vkl.world" target="_blank" class="article">
                <img class="vkl-logo" src="/images/vkl-logo.jpg">
                <h1>
                    @((MarkupString) Loc[IndexRes.Projects_Vkl].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Projects_Vkl_Description].Value)
                </p>
            </a>

            <a href="https://youtube.com/@@ciomnylos" target="_blank" class="article">
                <h1>
                    @Loc[IndexRes.Projects_CiomnyLos]
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Projects_CiomnyLos_Description].Value)
                </p>
                <img class="ciomnylos-logo" src="/images/ciomnylos-logo.jpg">
            </a>
            
            <a href="https://youtube.com/@@itbeard" target="_blank" class="article">
                <h1>
                    @Loc[IndexRes.Projects_Itbeard]
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Projects_Itbeard_Description].Value)
                </p>
                <img class="itbeard-logo" src="/images/itbeard-300.jpg">
            </a>

            <a href="https://evocoders.ai" target="_blank" class="article">
                <img class="evocode-logo" src="/images/evocode.png">
                <h1>
                    @Loc[IndexRes.Projects_EvoCode]
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Projects_EvoCode_Description].Value)
                </p>
            </a>

            <a href="https://podcast.onvibe.io" target="_blank" class="article">
                <h1>
                    @Loc[IndexRes.Projects_Aia]
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Projects_Aia_Description].Value)
                </p>
                <img class="aia-logo" src="/images/onvibe.jpg">
            </a>

            <a href="https://t.me/belarusai" target="_blank" class="article">
                <h1>
                    @Loc[IndexRes.Projects_BelarusAi]
                </h1>
                <p>
                    @((MarkupString)Loc[IndexRes.Projects_BelarusAi_Description].Value)
                </p>
                <img class="belarusai-logo" src="/images/belarusai-logo.jpg">
            </a>
        </section>
    </section>
</main>
