@page "/partnership"

@using PartnershipRes = Localizations.Pages.Partnership;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<PartnershipRes> PartnershipLoc
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>@PartnershipLoc[PartnershipRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>

<main id="partnership">
    <section id="commerce" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>
                @PartnershipLoc[PartnershipRes.Commercial_Title]
            </h1>
            <p>
                @PartnershipLoc[PartnershipRes.Commercial_Paragraph1_Part1]
                (<a href="https://s.itbeard.com/mediakit" target="_blank" class="email">русский</a>,
                <a href="https://s.itbeard.com/mediakit-en" target="_blank" class="email">english</a>).
            </p>
            <p>
                @PartnershipLoc[PartnershipRes.Commercial_Paragraph2_Part1]
                <a href="mailto:iamitbeard@gmail.com" target="_blank" class="email">iamitbeard@gmail.com</a>
                @PartnershipLoc[PartnershipRes.Commercial_Paragraph2_Part2]
                <a href="https://t.me/iamitboroda" target="_blank" class="email">@@iamitboroda</a>.
            </p>
        </section>
    </section>

    <section id="not_commerce" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>
                @PartnershipLoc[PartnershipRes.NonCommercial_Title]
            </h1>
            <p>
                @PartnershipLoc[PartnershipRes.NonCommercial_Paragraph1_Part1]
                <a href="mailto:iamitbeard@gmail.com" target="_blank" class="email">iamitbeard@gmail.com</a>
                @PartnershipLoc[PartnershipRes.NonCommercial_Paragraph1_Part2]
                <a href="https://t.me/iamitboroda" target="_blank" class="email">@@iamitboroda</a>
                @PartnershipLoc[PartnershipRes.NonCommercial_Paragraph1_Part3]
            </p>
        </section>
    </section>
</main>
