@page "/sponsorship"
@page "/help"
@page "/support"

@using SponsorshipRes = Localizations.Pages.Sponsorship;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SponsorshipRes> SponsorshipLoc
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>@SponsorshipLoc[SponsorshipRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>

<main>
    <section id="patreon" class="presentation no-bg">
            <section class="content right">
                <h1>
                    @SponsorshipLoc[SponsorshipRes.Patreon_Title]
                </h1>
                <p>
                    @SponsorshipLoc[SponsorshipRes.Patreon_Paragraph_Part_1]
                    <a href="https://www.patreon.com/itbeard" target="_blank">
                        @SponsorshipLoc[SponsorshipRes.Patreon_Paragraph_Part_2]
                    </a>
                    @SponsorshipLoc[SponsorshipRes.Patreon_Paragraph_Part_3]
                    <br/><br/>
                    @SponsorshipLoc[SponsorshipRes.Patreon_Paragraph_Part_4]
                    <a href="https://s.itbeard.com/sponsors-discord" target="_blank">
                        @SponsorshipLoc[SponsorshipRes.Patreon_Paragraph_Part_5]
                    </a> 😎
                </p>
            </section>
        </section>

    <section id="crypto" class="presentation no-bg">
        <section class="content left">
            <h1>
                @SponsorshipLoc[SponsorshipRes.Crypto_Title]
            </h1>
            <p>
                @((MarkupString)SponsorshipLoc[SponsorshipRes.Crypto_Paragraph].Value)
            </p>
            <ul>
                <li>
                    BTC: <b>bc1qvr9areesmfukpphe2es2q339p42yyr7pph73ty</b>
                </li>
                <li>
                    ETH: <b>0xedd9B89632c3d0F774a1204fC8F2B9378dC17beB</b>
                </li>
                <li>
                    USDT (ERC-20): <b>0xedd9B89632c3d0F774a1204fC8F2B9378dC17beB</b>
                </li>
                <li>
                    USDT (TRC-20): <b>TUXAXsM2EEwj6Yu4ragkYDS3riwiSQMEuL</b>
                </li>
                <li>
                    SOL: <b>2ZK7hJ8pQ5NXb2ezRtdKWXSAvHLZDMpPKJe5xw5Ak76Y</b>
                </li>
                <li>
                    DOT: <b>13bYtwi73W4Z2rJoyWxdMiaVQrq1S3PkhzzsGrNzfdHcSFoQ</b>
                </li>
                <li>
                    NEAR: <b>cfe98a5294eb92a6affba80b8265d00c2f09a6a169a8a9da7712ed6e6b951e71</b>
                </li>
                <li>
                    XTZ: <b>tz1Ppo34Z8TfBSo6bhFZ6qSwTGU3L3FqXJJr</b>
                </li>
                <li>
                    LTC: <b>ltc1qj8e0jrxc3wx7pfmjfyyjkg8hf2ajs9ecp5wwr2</b>
                </li>
                <li>
                    DOGE: <b>DFFZkkTsiyEKbGbK2ANACiB35wQU5iJAPk</b>
                </li>
            </ul>
        </section>
    </section>

    <section id="info" class="presentation no-bg">
        <section class="content right">
            <h1>
                @SponsorshipLoc[SponsorshipRes.YouTube_Title]
            </h1>
            <p>
                @SponsorshipLoc[SponsorshipRes.YouTube_Paragraph_1]
            </p>
            <p>
                @SponsorshipLoc[SponsorshipRes.YouTube_Paragraph_2]
            </p>
            <p>
                @SponsorshipLoc[SponsorshipRes.YouTube_Paragraph_3]
            </p>
            <ul>
                <li>
                    <a href="https://s.itbeard.com/discord" target="_blank">
                        @SponsorshipLoc[SponsorshipRes.YouTube_List_1]
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986bFr4dpzCVcMQ_r7lgwZCZ" target="_blank">
                        @SponsorshipLoc[SponsorshipRes.YouTube_List_2_Link]
                    </a>
                    @SponsorshipLoc[SponsorshipRes.YouTube_List_2]
                </li>
                <li>
                    <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu984VLrI0lES0axUSccXbgL7_" target="_blank">
                        @SponsorshipLoc[SponsorshipRes.YouTube_List_3_Link]
                    </a>
                    @SponsorshipLoc[SponsorshipRes.YouTube_List_3]
                </li>
                <li>
                    @SponsorshipLoc[SponsorshipRes.YouTube_List_4]
                </li>
                <li>
                    @SponsorshipLoc[SponsorshipRes.YouTube_List_5]
                </li>
            </ul>
        </section>
    </section>

    <section id="how_to" class="presentation no-bg">
        <section class="content left">
            <h1>
                @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Title]
            </h1>

            <p>
                @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_1_Part_1]
                <a href="https://youtube.com/itbeard" target="_blank">

                    <b>
                        @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_1_Part_2]
                    </b>
                </a>
                @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_1_Part_3]
                <a href="https://youtube.com/itbeard/join" target="_blank" class="email">
                    @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_1_Part_4]
                </a>.
            </p>

            <p>
                @((MarkupString)SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_2].Value)
            </p>

            <p>
                @((MarkupString)SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_3].Value)
            </p>

            <p>
                @((MarkupString)SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_4].Value)
            </p>

            <p>
                @((MarkupString)SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_5].Value)
            </p>

            <ul>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how" target="_blank">
                        <b>
                            @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_5_Link_1]
                        </b>
                    </a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how2" target="_blank">
                        <b>
                            @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_5_Link_2]
                        </b>
                    </a>
                </li>
                <li>
                    <a href="https://s.itbeard.com/sponsorship-how3" target="_blank">
                        <b>
                            @SponsorshipLoc[SponsorshipRes.SponsorYoutube_Paragraph_5_Link_3]
                        </b>
                    </a>
                </li>
            </ul>
        </section>
    </section>

    <section id="apple" class="presentation no-bg">
        <section class="content left">
            <h1>
                @SponsorshipLoc[SponsorshipRes.Apple_Title]
            </h1>
            <p>
                @SponsorshipLoc[SponsorshipRes.Apple_Paragraph_Part_1]
                <a href="https://podcasts.apple.com/us/podcast/id1449804780" target="_blank">
                    @SponsorshipLoc[SponsorshipRes.Apple_Paragraph_Part_2]
                </a>
                @SponsorshipLoc[SponsorshipRes.Apple_Paragraph_Part_3]
            </p>
        </section>
    </section>

    <section id="video" class="presentation no-bg">
        <section class="content">
            <h1>@SponsorshipLoc[SponsorshipRes.Video_HowToSupport_Title]</h1>
            <iframe src="https://www.youtube.com/embed/EooGR7WvbDE"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </section>
    </section>
</main>
