@page "/sponsorship"
@page "/help"
@page "/support"

@using SupportRes = Localizations.Pages.Support;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SupportRes> Loc
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>@Loc[SupportRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>

<main class="wide-container">
    <section id="patreon" class="presentation no-bg">
        <section class="content right">
            <h1>
                @Loc[SupportRes.Patreon_Title]
            </h1>
            <p>
                @Loc[SupportRes.Patreon_Paragraph_Part_1]
                <a href="https://www.patreon.com/itbeard" target="_blank" class="blue-text">
                    @Loc[SupportRes.Patreon_Paragraph_Part_2]
                </a>@Loc[SupportRes.Patreon_Paragraph_Part_3]
                <br/><br/>
                @Loc[SupportRes.Patreon_Paragraph_Part_4]
                <a href="/beard-news" class="blue-text">
                    @Loc[SupportRes.Patreon_Paragraph_Part_4_1]
                </a>@Loc[SupportRes.Patreon_Paragraph_Part_4_2]
                <a href="https://itbeard.com/s/sponsors-discord" target="_blank" class="blue-text">
                    @Loc[SupportRes.Patreon_Paragraph_Part_5]
                </a>@Loc[SupportRes.Patreon_Paragraph_Part_5_1]
            </p>
        </section>
    </section>

    <section id="crypto" class="presentation no-bg">
        <section class="content left">
            <h1>
                @Loc[SupportRes.Crypto_Title]
            </h1>
            <p>
                @((MarkupString)Loc[SupportRes.Crypto_Paragraph].Value)
            </p>
            <ul>
                <li>
                    BTC: <b>bc1qvr9areesmfukpphe2es2q339p42yyr7pph73ty</b>
                </li>
                <li>
                    ETH: <b>0xedd9B89632c3d0F774a1204fC8F2B9378dC17beB</b>
                </li>
                <li>
                    TON: <b>UQC86cyjCPr_GMCMF7egShO835tgntiBGceZwVr9ilFp_14u</b>
                </li>
                <li>
                    USDT (ERC-20, BEP-20): <b>0xedd9B89632c3d0F774a1204fC8F2B9378dC17beB</b>
                </li>
                <li>
                    USDT (TRC-20): <b>TUXAXsM2EEwj6Yu4ragkYDS3riwiSQMEuL</b>
                </li>
                <li>
                    USDT (TON): <b>UQC86cyjCPr_GMCMF7egShO835tgntiBGceZwVr9ilFp_14u</b>
                </li>
                <li>
                    SOL: <b>2ZK7hJ8pQ5NXb2ezRtdKWXSAvHLZDMpPKJe5xw5Ak76Y</b>
                </li>
                <li>
                    DOT: <b>13bYtwi73W4Z2rJoyWxdMiaVQrq1S3PkhzzsGrNzfdHcSFoQ</b>
                </li>
                <li>
                    NEAR: <b>cfe98a5294eb92a6affba80b8265d00c2f09a6a169a8a9da7712ed6e6b951e71</b>
                </li>
                <li>
                    XTZ: <b>tz1Ppo34Z8TfBSo6bhFZ6qSwTGU3L3FqXJJr</b>
                </li>
                <li>
                    LTC: <b>ltc1qj8e0jrxc3wx7pfmjfyyjkg8hf2ajs9ecp5wwr2</b>
                </li>
                <li>
                    DOGE: <b>DFFZkkTsiyEKbGbK2ANACiB35wQU5iJAPk</b>
                </li>
            </ul>
        </section>
    </section>

    <section id="card" class="presentation no-bg">
        <section class="content right">
            <h1>
                @((MarkupString)Loc[SupportRes.Card].Value)
            </h1>
            <p>
                @((MarkupString)Loc[SupportRes.Card_Paragraph_11].Value)
                <a href="https://revolut.me/itbeard" target="_blank" class="colored-text">
                    @((MarkupString)Loc[SupportRes.Card_Paragraph_12].Value)
                </a>
                @((MarkupString)Loc[SupportRes.Card_Paragraph_13].Value)
                <a href="https://www.paypal.com/paypalme/itbeard" target="_blank" class="colored-text">
                    @((MarkupString)Loc[SupportRes.Card_Paragraph_14].Value)
                </a>
                @((MarkupString)Loc[SupportRes.Card_Paragraph_15].Value)
            </p>
        </section>
    </section>

    <section id="merch" class="presentation no-bg">
        <section class="content left">
            <h1>
                @((MarkupString)Loc[SupportRes.Merch].Value)
            </h1>
            <p>
                @((MarkupString)Loc[SupportRes.Merch_Paragraph_11].Value)
                <a href="https://streamlabs.com/itbeard/merch" target="_blank" class="colored-text">
                    @((MarkupString)Loc[SupportRes.Merch_Paragraph_12].Value)
                </a>@((MarkupString)Loc[SupportRes.Merch_Paragraph_13].Value)
            </p>
            <p>
                @((MarkupString)Loc[SupportRes.Merch_Paragraph_2].Value)
            </p>
        </section>
    </section>
</main>
