@page "/thanks"

@using ThanksRes = Localizations.Pages.Thanks;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<ThanksRes> ThanksLoc
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>@ThanksLoc[ThanksRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>

<div>
    @((MarkupString)ThanksLoc[ThanksRes.Paragraph].Value)
    <ul>
        <li>
            <a href="https://freelancehunt.com/freelancer/Ikor_Jefocur.html" target="_blank">
                @ThanksLoc[ThanksRes.Name1]
            </a>
        </li>
        <li>
            <a href="https://eyarotskiy.github.io" target="_blank">
                @ThanksLoc[ThanksRes.Name2]
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/vepa-orazov-93946a173/" target="_blank">
                @ThanksLoc[ThanksRes.Name3]
            </a>
        </li>
        <li>
            <a href="mailto:dmitry.fcz@gmail.com">
                @ThanksLoc[ThanksRes.Name4]
            </a>
        </li>
        <li>
            <a href="mailto:manuilenkoart@gmail.com">
                @ThanksLoc[ThanksRes.Name5]
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/krismukha" target="_blank">
                @ThanksLoc[ThanksRes.Name6]
            </a>
        </li>
        <li>
            <a href="http://developer-studio.ru" target="_blank">
                @ThanksLoc[ThanksRes.Name7]
            </a>
        </li>
    </ul>
</div>