@page "/aia"
@page "/projects/aia"
@using AiaPodcastRes = Localizations.Pages.Projects.AiaPodcast;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<AiaPodcastRes> Loc
@inject IStringLocalizer<SharedRes> SharedLoc

<Title>@Loc[AiaPodcastRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>

<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>
                @Loc[AiaPodcastRes.About_Title]
            </h1>
            <p>
                @((MarkupString)Loc[AiaPodcastRes.About_Paragraph_1_1].Value)
                <a class="blue-text" href="https://aw.club" target="_blank">Anywhere Club</a>@Loc[AiaPodcastRes.About_Paragraph_1_2]
            </p>
            <p>
                <b class="colored-text">
                    @Loc[AiaPodcastRes.About_Web]
                </b>
            </p>
            <ul>
                <li class="links youtube">
                    <span>YouTube</span> /
                    <a href="https://bit.ly/aia-podcast" target="_blank">bit.ly/aia-podcast</a>
                </li>
                <li class="links orange">
                    <span>Google Podcasts</span> /
                    <a href="https://bit.ly/aia-google" target="_blank">bit.ly/aia-google</a>
                </li>
                <li class="links orange">
                    <span>Apple Podcasts</span> /
                    <a href="https://bit.ly/aia-apple" target="_blank">bit.ly/aia-apple</a>
                </li>
                <li class="links orange">
                    <span>Spotify</span> /
                    <a href="https://bit.ly/aia-spotify" target="_blank">bit.ly/aia-spotify</a>
                </li>
                <li class="links site">
                    <span>
                        @Loc[AiaPodcastRes.About_Paragraph_Links_Rss]
                    </span> /
                    <a href="https://bit.ly/aia-podcast" target="_blank">bit.ly/aia-podcast</a>
                </li>
                <li class="links telegram">
                    <span>
                        @Loc[AiaPodcastRes.About_Paragraph_Links_Telegram]
                    </span> /
                    <a href="https://t.me/aiapodcast" target="_blank">t.me/aiapodcast</a>
                </li>
            </ul>
        </section>
    </section>
</main>