@page "/evocoders"
@page "/evocoder"
@page "/evocode"
@page "/projects/evocoders"
@using EvoCodersRes = Localizations.Pages.Projects.EvoCoders;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc
@inject IStringLocalizer<EvoCodersRes> Loc

<Title>@Loc[EvoCodersRes.PageTitle]</Title>

<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content left">
            <h1>
                @Loc[EvoCodersRes.Title]
            </h1>

            <p>
                <b class="colored-text">@Loc[EvoCodersRes.ClubName]</b> @((MarkupString)Loc[EvoCodersRes.ClubDescription].Value)
            </p>

            <p class="logo-club"></p>

            <p>
                @Loc[EvoCodersRes.ClubTheses]
            </p>
            <ul>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Thesis1].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Thesis2].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Thesis3].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Thesis4].Value)
                </li>
            </ul>

            <p>
                <b class="colored-text">@Loc[EvoCodersRes.ClubGoalLabel]</b> @Loc[EvoCodersRes.ClubGoal]
            </p>
            <p>
                <b class="colored-text">@Loc[EvoCodersRes.ClubMissionLabel]</b> @Loc[EvoCodersRes.ClubMission]
            </p>
        </section>
    </section>

    <section id="benefits" class="presentation no-bg">
        <section class="content right">
            <h1>
                @Loc[EvoCodersRes.BenefitsTitle]
            </h1>

            <p>
                @((MarkupString)Loc[EvoCodersRes.BenefitsDescription].Value)
            </p>

            <p class="benefits-club"></p>

            <p>
                @Loc[EvoCodersRes.BenefitsListLabel]
            </p>
            <ul>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Benefit1].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Benefit2].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Benefit3].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Benefit4].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.Benefit5].Value)
                </li>
            </ul>
        </section>
    </section>

    <section id="howitworks" class="presentation no-bg">
        <section class="content left">
            <h1>
                @Loc[EvoCodersRes.HowItWorksTitle]
            </h1>
            <p>
                @((MarkupString)Loc[EvoCodersRes.HowItWorksDescription1].Value)
            </p> 
            <p>
                @((MarkupString)Loc[EvoCodersRes.HowItWorksDescription2].Value)
            </p> 
            <p>    
                @((MarkupString)Loc[EvoCodersRes.HowItWorksDescription3].Value)
            </p>

            <p class="howitworks-club"></p>
            <p>
                @((MarkupString)Loc[EvoCodersRes.OpenResourcesLabel].Value)
            </p>
            <ul>
                <li class="links">
                    <a href="https://www.youtube.com/@@evocoders" class="blue-text" target="_blank" title="youtube-канал"><span>@Loc[EvoCodersRes.YouTubeChannel]</span></a>: @Loc[EvoCodersRes.YouTubeChannelDescription]
                </li>
                <li class="links">
                    @Loc[EvoCodersRes.GitHubRepositoryLabel] <a href="https://github.com/it-beard/evocoders/discussions" class="blue-text" target="_blank" title="GitHub-репозиторий"><span>@Loc[EvoCodersRes.GitHubRepository]</span></a> @Loc[EvoCodersRes.GitHubRepositoryDescription]
                </li>
            </ul>
        </section>
    </section>

    <section id="hottoget" class="presentation no-bg">
        <section class="content right">
            <h1 style="margin-top: 30px">
                @Loc[EvoCodersRes.HowToGetInTitle]
            </h1>
            <p class="colored-text h2-class">
                @Loc[EvoCodersRes.SubscriptionLabel]
            </p>
            <p>
                @((MarkupString)Loc[EvoCodersRes.SubscriptionDescription].Value)
            </p>
            <ul class="subscription">
                <li class="links yellow">
                    <a href="https://s.itbeard.com/evocoders-monthly" target="_blank">
                        <span>@Loc[EvoCodersRes.BuyMonthlySubscription]</span>
                    </a>
                </li>
                <li class="links yellow">
                    <a href="https://s.itbeard.com/evocoders-annually" target="_blank">
                        <span>@Loc[EvoCodersRes.BuyAnnualSubscription]</span>
                    </a>
                </li>
            </ul>

            <p>
                @((MarkupString)Loc[EvoCodersRes.PaymentOptions].Value)
            </p>

            <p>
                @((MarkupString)Loc[EvoCodersRes.PaymentService].Value)
            </p>

            <p class="colored-text h2-class" style="margin-top: 30px">
                @Loc[EvoCodersRes.CommunityActivitiesLabel]
            </p>

            <p style="margin-bottom: 30px">
                @((MarkupString)Loc[EvoCodersRes.CommunityActivitiesDescription].Value)
            </p>
        </section>
    </section>

    <section id="examples" class="presentation no-bg">
        <section class="content center">
            <h1 style="text-align: center;">
                @Loc[EvoCodersRes.ContentExamplesTitle]
            </h1>
            <p>
                <iframe height="315" width="100%"
                        src="https://www.youtube.com/embed/NPSAyl8F1N8"
                        title="@Loc[EvoCodersRes.WorkshopTitle]"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>
            <p>
                <iframe height="315" width="100%"
                        src="https://www.youtube.com/embed/AVxLDqsU8aw"
                        title="@Loc[EvoCodersRes.InterviewTitle]"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>
            <p>
                <iframe height="315" width="100%"
                        src="https://www.youtube.com/embed/-uJtZ_CE9H8"
                        title="@Loc[EvoCodersRes.SituationalAwarenessTitle]"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>

            <p>
                <iframe height="315" width="100%"
                        src="https://www.youtube.com/embed/hKNIggJ2evE"
                        title="@Loc[EvoCodersRes.DigestExampleTitle]"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>
        </section>
    </section>

    <section id="for-companies" class="presentation no-bg">
        <section class="content right">
            <h1>
                @Loc[EvoCodersRes.ForCompaniesTitle]
            </h1>

            <p>
                <b class="colored-text">@Loc[EvoCodersRes.ClubName]</b> @((MarkupString)Loc[EvoCodersRes.ForCompaniesDescription].Value)
            </p>

            <p class="company-benefits"></p>

            <p>
                @Loc[EvoCodersRes.ForCompaniesBenefitsLabel]
            </p>
            <ul>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.ForCompaniesBenefit1].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.ForCompaniesBenefit2].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.ForCompaniesBenefit3].Value)
                </li>
                <li class="links">
                    @((MarkupString)Loc[EvoCodersRes.ForCompaniesBenefit4].Value)
                </li>
            </ul>

            <p>
                @Loc[EvoCodersRes.ForCompaniesContactLabel]
            </p>
            <ul>
                <li class="links">
                    Telegram: <a href="https://t.me/iamitbeard" class="blue-text" target="_blank">@@iamitbeard</a>
                </li>
                <li class="links">
                    Email: <a href="mailto:iamitberad@gmail.com" class="blue-text">iamitberad@gmail.com</a>
                </li>
            </ul>
        </section>
    </section>
</main>