@page "/show"
@page "/itbeard"
@page "/partnership"
@using ItbeardShowRes = Localizations.Pages.Projects.ItbeardShow;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc
@inject IStringLocalizer<ItbeardShowRes> Loc

<Title>@Loc[ItbeardShowRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>
<main class="wide-container">
    <section id="about" class="presentation presentation-first no-bg">
        <section class="content right">
            <h1>@Loc[ItbeardShowRes.AboutShow]</h1>
            <p>
                @((MarkupString)Loc[ItbeardShowRes.AboutShow_Paragraph_2].Value)
            </p>
            <p>
                @((MarkupString)Loc[ItbeardShowRes.AboutShow_Paragraph_3].Value)
            </p>
        </section>
    </section>

    <section id="description" class="slides presentation-slides no-bg">
        <h1>
            @Loc[ItbeardShowRes.WhatAboutItbeard]
        </h1>
        <section class="content">
            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu984Jnm_YhDcD_Hs5WEB39HoR" target="_blank" class="article">
                <h1>@Loc[ItbeardShowRes.Technologies]</h1>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Technologies_Paragraph_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Technologies_Paragraph_2].Value)
                </p>
                <img src="/images/haskell.jpg">
            </a>

            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu987VRKxIuCQLevB_vUA2dB2I" target="_blank" class="article">
                <img src="/images/lesia.jpg">
                <h1>@Loc[ItbeardShowRes.Profession]</h1>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Profession_Paragraph_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Profession_Paragraph_2].Value)
                </p>
            </a>

            <a href="https://www.youtube.com/playlist?list=PLdmSK1Qzu986l19y0i0dMoPSQxb2wnsdE" target="_blank" class="article">
                <h1>@Loc[ItbeardShowRes.Interview]</h1>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Interview_Paragraph_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Interview_Paragraph_2].Value)
                </p>
                <img src="/images/bobuk.jpg">
            </a>
        </section>
    </section>

    <section id="links" class="presentation no-bg">
            <section class="content left">
                <h1>
                    @((MarkupString)Loc[ItbeardShowRes.WhereToSee].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_1].Value)
                    <ul>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_2].Value)
                            <a href="https://www.youtube.com/@@itbeard" target="_blank" class="youtube">
                                YouTube
                            </a>
                        </li>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_3].Value)
                            <a href="https://t.me/itbeard" target="_blank" class="telegram">
                                Telegram
                            </a>
                        </li>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_3_1].Value)
                            <a href="https://www.whatsapp.com/channel/0029VaAd7wk3QxRrnV3byo34" target="_blank" class="whatsapp">
                                WhatsApp
                            </a>
                        </li>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_4].Value)
                            <a href="https://www.tiktok.com/@@itbeard" target="_blank" class="tiktok">
                                TikTok
                            </a>
                        </li>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_5].Value)
                            <a href="https://s.itbeard.com/linkedin" target="_blank" class="linkedin">
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_7].Value)
                            <a href="https://bit.ly/itbeard-googlepodcasts" target="_blank" class="colored-text">
                                Google Podcasts
                            </a>
                        </li>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_8].Value)
                            <a href="https://apple.co/41hwOIQ" target="_blank" class="colored-text">
                                Apple Podcasts
                            </a>
                        </li>
                        <li>
                            @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_6].Value)
                            <a href="https://spoti.fi/3Ktbf1Y" target="_blank" class="colored-text">
                                Spotify
                            </a>
                        </li>
                        <li>
                            <a href="https://podcast.itbeard.com" target="_blank" class="site">
                                @((MarkupString)Loc[ItbeardShowRes.WhereToSee_Paragraph_9].Value)
                            </a>
                        </li>
                    </ul>
                </p>
            </section>
        </section>

    <section id="sponsorship" class="presentation no-bg">
        <section class="content right">
            <h1>
                @((MarkupString)Loc[ItbeardShowRes.Support].Value)
            </h1>
            <p>
                @((MarkupString)Loc[ItbeardShowRes.Suport_Paragraph_11].Value)
                <a href="/support" target="_blank" class="blue-text">
                    @((MarkupString)Loc[ItbeardShowRes.Suport_Paragraph_12].Value)
                </a>@((MarkupString)Loc[ItbeardShowRes.Suport_Paragraph_13].Value)
                <a href="https://www.patreon.com/itbeard" target="_blank" class="blue-text">
                    @((MarkupString)Loc[ItbeardShowRes.Suport_Paragraph_14].Value)
                </a>@((MarkupString)Loc[ItbeardShowRes.Suport_Paragraph_17].Value)
            </p>
            <p>
                @((MarkupString)Loc[ItbeardShowRes.Suport_Paragraph_21].Value)
                <a href="/support" class="blue-text">
                    @((MarkupString)Loc[ItbeardShowRes.Suport_Paragraph_22].Value)
                </a>
            </p>
        </section>
    </section>

    <section id="sponsors_bonuses" class="slides presentation-slides no-bg">
        <h1>
            @((MarkupString)Loc[ItbeardShowRes.Bonus].Value)
        </h1>
        <section class="content">
            <a href="https://s.itbeard.com/sponsors-discord" target="_blank" class="article discord">
                <h1>
                    @((MarkupString)Loc[ItbeardShowRes.Bonus_Discord].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Bonus_Discord_Paragraph_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Bonus_Discord_Paragraph_2].Value)
                </p>
                <img src="/images/discord.jpg">
            </a>

            <a href="/beard-news" class="article">
                <img src="/images/solocast.jpg">
                <h1>
                    @((MarkupString)Loc[ItbeardShowRes.Bonus_News].Value)
                </h1>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Bonus_News_Paragraph_1].Value)
                </p>
                <p>
                    @((MarkupString)Loc[ItbeardShowRes.Bonus_News_Paragraph_2].Value)
                </p>
            </a>

            <a href="https://streamlabs.com/itbeard/merch" target="_blank" class="article more">
                <h1>@Loc[ItbeardShowRes.YouTube_List_1]</h1>
                <p>
                    <ul>
                        <li>
                            @((MarkupString)@Loc[ItbeardShowRes.YouTube_List_2].Value)
                        </li>
                        <li>
                            @((MarkupString)@Loc[ItbeardShowRes.YouTube_List_3].Value)
                        </li>
                        <li>
                            @((MarkupString)@Loc[ItbeardShowRes.YouTube_List_4].Value)
                        </li>
                    </ul>
                </p>
                <img src="/images/bonus-content.jpg">
            </a>
        </section>
    </section>

    <section id="commerce" class="presentation no-bg">
        <section class="content left">
            <h1>
                @Loc[ItbeardShowRes.Commercial_Title]
            </h1>
            <p>
                @Loc[ItbeardShowRes.Commercial_Paragraph1_Part1]
                (<a href="https://s.itbeard.com/mediakit" target="_blank" class="blue-text">русский</a>,
                <a href="https://s.itbeard.com/mediakit-en" target="_blank" class="blue-text">english</a>).
            </p>
            <p>
                @Loc[ItbeardShowRes.Commercial_Paragraph2_Part1]
                <a href="mailto:iamitbeard@gmail.com" target="_blank" class="blue-text">iamitbeard@gmail.com</a>
                @Loc[ItbeardShowRes.Commercial_Paragraph2_Part2]
                <a href="https://t.me/iamitbeard" target="_blank" class="blue-text">@@iamitbeard</a>.
            </p>
        </section>
    </section>

    <section id="not_commerce" class="presentation no-bg">
        <section class="content right">
            <h1>
                @Loc[ItbeardShowRes.NonCommercial_Title]
            </h1>
            <p>
                @Loc[ItbeardShowRes.NonCommercial_Paragraph1_Part1]
                <a href="mailto:iamitbeard@gmail.com" target="_blank" class="blue-text">iamitbeard@gmail.com</a>
                @Loc[ItbeardShowRes.NonCommercial_Paragraph1_Part2]
                <a href="https://t.me/iamitboroda" target="_blank" class="blue-text">@@iamitboroda</a>@Loc[ItbeardShowRes.NonCommercial_Paragraph1_Part3]
            </p>
        </section>
    </section>

    <section id="merch" class="presentation no-bg">
        <section class="content left">
            <h1>
                @Loc[ItbeardShowRes.Merch]
            </h1>
            <p>
                @Loc[ItbeardShowRes.Merch_Paragraph_11]
                <a href="https://streamlabs.com/itbeard/merch" target="_blank" class="blue-text">
                    @Loc[ItbeardShowRes.Merch_Paragraph_12]
                </a>@Loc[ItbeardShowRes.Merch_Paragraph_13]
            </p>
            <p>
                @((MarkupString)Loc[ItbeardShowRes.Merch_Paragraph_2].Value)
            </p>
        </section>
    </section>
</main>