@page "/vkl"
@page "/projects/vkl"
@using VklRes = Localizations.Pages.Projects.Vkl;
@using SharedRes = Localizations.SharedLocalizations;
@inject IStringLocalizer<SharedRes> SharedLoc
@inject IStringLocalizer<VklRes> Loc

<Title>@Loc[VklRes.PageTitle] @SharedLoc[SharedRes.PageTitleAddition]</Title>
<main class="wide-container">
    <section id="about" class="presentation no-bg">
        <section class="content left">
            <h1>
                @((MarkupString)Loc[VklRes.About].Value)
            </h1>
            <p>
                @((MarkupString)Loc[VklRes.About_Paragraph_1].Value)
            </p>
            <p>
                @((MarkupString)Loc[VklRes.About_Paragraph_2].Value)
                <a href="https://vkl.world" class="blue-text" target="_blank">vkl.world</a>
            </p>
        </section>
    </section>

    <section id="patreon" class="presentation no-bg">
          <section class="content right">
              <h1>
                @((MarkupString)Loc[VklRes.Patreon_Title].Value)
              </h1>
              <p>
              @((MarkupString)Loc[VklRes.Patreon_Paragraph_Part_1].Value)
                  <a href="https://www.patreon.com/vklworld" target="_blank" class="blue-text">
                      @Loc[VklRes.Patreon_Paragraph_Part_1_2]
                  </a>@((MarkupString)Loc[VklRes.Patreon_Paragraph_Part_1_3].Value)
              </p>
          </section>
      </section>
</main>